.CalculationPageCalculationResult {
  &__table {
    min-width: 580px;
    max-width: 580px;
  }

  &__metrics {
    margin-top: 12px;
  }

  @media screen and (max-width: 768px) {
    &__table {
      margin-top: 12px;
      min-width: 100%;
      max-width: 100%;
    }
  }
}